@font-face {
    font-family: 'Roboto';
    src: url("../fonts/ttf/Roboto-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/ttf/Roboto-Bold.ttf");
    font-weight: Bold;
}

@font-face {
    font-family: 'HarmonyOS CJK';
    src: url("../fonts/ttf/HarmonyOSHans.ttf");
    font-weight: normal;
}

/*@media (max-width:540px) {*/

/*    !*#box2 {*!*/
/*    !*    display: none;*!*/
/*    !*}*!*/

/*    !*#new-song {*!*/
/*    !*    display: none;*!*/
/*    !*}*!*/
/*}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'HarmonyOS CJK', 'Microsoft YaHei UI', sans-serif;
    transition: all 300ms;
}

body {
    font: 16px/1.5 sans-serif;
    color: #333;
    background-color: #fff;
}

li {
    list-style: none;
}

em,
i {
    font-style: normal;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #ff5050;
}

img {
    width: 100%;
    vertical-align: middle;
}

input {
    padding: 0;
    border: none;
    outline: none;
    color: #333;
}

button {
    cursor: pointer;
}

/* 清除浮动 */
.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

